body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

img {
  /* max-width: 100%;
  max-height: 100%; */
  cursor: pointer;
}
