#main {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  margin: 8% 0 0 8%;
  height: 0px;
  width: 30%;
  padding-top: 30%;
  overflow: visible;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.box {
  display: block;
  width: 45%;
  height: 45%;
  position: absolute;
  /* background-color: aqua; */
}
.image {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/test.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1000000000000;
  transform: rotate(-45deg);
}
.blue {
  overflow: hidden;
  top: 0;
  left: 0;
}
.green {
  overflow: hidden;
  top: 0;
  right: 0;
}
.red {
  overflow: hidden;
  bottom: 0;
  right: 0;
}
.yellow {
  overflow: hidden;
  bottom: 0;
  left: 0;
}
